{% if include.index == "true" %}
  {% assign obj = post %}
{% else %}
  {% assign obj = page %}
{% endif %}

<h1><a href="{{ obj.url }}" style="font-weight:bold">{{ obj.title }}</a></h1>

{% include posts/tags.html index=include.index %}

{% if obj.vimeo %}
<iframe src="//player.vimeo.com/video/{{ obj.vimeo }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% elsif obj.image %}
<a href="{{ obj.url }}"><img src="http://s3.amazonaws.com/thebuilding.io/{{ obj.image }}" /></a>
{% endif %}
