{% if include.index == "true" %}
  {% assign obj = post %}
{% else %}
  {% assign obj = page %}
{% endif %}

<h1><a href="{{ obj.original }}" target="_blank">{{ obj.title }}</a></h1>


{% if obj.status == "feature" || include.index != "true" %}
{% if obj.vimeo %}
<iframe src="//player.vimeo.com/video/{{ obj.vimeo }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% elsif obj.youtube %}
<iframe width="560" height="315" src="//www.youtube.com/embed/{{ obj.youtube }}" frameborder="0" allowfullscreen></iframe>
{% elsif obj.image %}
<a href="{{ obj.original }}"><img src="http://s3.amazonaws.com/thebuilding.io/{{ obj.image }}" /></a>
{% endif %}
<br/>
<br/>
{% endif %}


{% include posts/tags.html index=include.index %}
