<!doctype html>
<html>
  <head>
    {% include layouts/head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/" style="font-weight:bold;"><i class="fa fa-building-o"></i></a>
          {% if page.tag %}
            <a href="/tag/{{page.tag}}" id="tag-heading" class="tag-heading-{{page.tag}}">{{ page.tag }}</a>
          {% endif %}
        </h1>
        <h2>Noteworthy news and articles for startup founders and developers.</h2>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small><a href="/README.md" style="color:#ccc">Terms</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
