<!doctype html>
<html>
  <head>
    {% include layouts/head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/"><i class="fa fa-building-o"></i></a>
          <div class="social-links">
            <a href="https://www.facebook.com/thebuildingio" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://twitter.com/thebuildingio" target="_blank"><i class="fa fa-facebook"></i></a>
          </div>
          {% if page.tag %}
            <a href="/tag/{{page.tag}}" id="tag-heading" class="tag-heading-{{page.tag}}">{{ page.tag }}</a>
          {% endif %}
        </h1>
      </header>

      {{ content }}

      <footer>
        <p><small><a href="/README.md" style="color:#ccc">Terms</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
